:root {
    --color-primario: #f3f5fc;
    --color-secundario: #0a3b71;
    --color-boton: #D8DFE8;
    --color-mensaje: #fcfcfc;
    --fuente-inter: "Inter", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    background: var(--color-primario);
    font-family: var(--fuente-inter);
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 150%;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.header {
    position: absolute;
    margin: 40px 0px opx 40px;
}

.logo {
    padding-top: 10px;
    margin-left: 10px;
    width: 120px;
    height: 48px;
}

.presentacion {
    width: 80.5%;
    max-width: 1300px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 10px 50px auto auto;
    margin-bottom: 1%;
    margin-left: 12%;
    align-items: end;
    min-height: calc(100vh - 90px -71px);
    gap: 20px;
}

.text-area {
    height: 100%;
    width: 85%;
    border: none;
    resize: none;
    color: var(--color-secundario);
    margin-top: 10%;
    margin-bottom: 5%;
    text-transform: lowercase;
    font-size: 1.5rem;
    max-width: 100%;
}

.text-area2 textarea {
    background-image: url('./imagenes/Muñeco.png');
    /* Ruta de la imagen */
    background-repeat: no-repeat;
    background-position: center;
    /* Posiciona la imagen en el centro */
    background-size: contain;
    /* Ajusta el tamaño de la imagen */
    padding: 10px;
    resize: none;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    color: var(--color-secundario);
    /* Color del texto */
}

.text-area2.no-background textarea {
    background-image: none;
    /* Remueve la imagen cuando sea necesario */
}

 ::placeholder {
    color: var(--color-secundario);
}

.text-area:focus {
    outline: none;
}

.mensaje {
    width: 100%;
    background: var(--color-mensaje);
    background-image: url(persona.png), url(texto2.png);
    background-position: top, bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    border: none;
    border-radius: 24px;
    color: var(--color-secundario);
    margin-top: 8px;
    margin-left: 1px;
    padding-left: 20px;
    position: relative;
}

.mensaje:focus {
    outline: none;
}

.botones {
    display: flex;
    margin-top: 10px;
    gap: 12px;
}

.btncopiar {
    display: none;
    margin-top: 10px;
}

.boton-encriptar {
    background-color: var(--color-secundario);
    border: 1px solid var(--color-secundario);
    border-radius: 24px;
    color: var(--color-boton);
    cursor: pointer;
    height: 67px;
    width: 57%;
    max-width: 368px;
    min-width: 250px;
}

.boton-desencriptar {
    background-color: var(--color-boton);
    border: 1px solid var(--color-secundario);
    border-radius: 24px;
    color: var(--color-secundario);
    cursor: pointer;
    height: 67px;
    width: 57%;
    max-width: 368px;
    min-width: 250px;
}

.boton-copiar {
    background-color: var(--color-boton);
    border: 1px solid var(--color-secundario);
    border-radius: 30px;
    color: var(--color-secundario);
    cursor: pointer;
    height: 67px;
    width: 100%;
    max-width: 368px;
    min-width: 250px;
    
}

.ingreso-txt {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: start;
    gap: 1px;
}

.informacion-txt {
    color: var(--color-secundario);
    font-size: 40%;
    font-family: inter;
    width: 100%;
    line-height: 100%;
    margin-top: 0%;
    margin-bottom: 0%;
}

.estilo-footer {
    font-size: 0.5rem;
    color: var(--color-secundario);
    text-align: center;
    align-items: center;
    margin-top: 0%;
}

.area-conversion {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /*box-sizing: border-box;*/
    justify-content: center;
    padding: 10px;
    gap: 10px;
    width: 100%;
    align-items: center;
}

.text-area2 {
    width: 100%;
}

@media(max-width: 905px) {
    .presentacion {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-left: 5%;
        align-items: center;
        justify-content: center;
    }
    .area-conversion {
        width: 100%;
        align-items: center;
    }
    .estilo-footer {
        justify-content: center;
        text-align: center;
    }
    .informacion-txt {
        font-size: 75%;
        text-align: center;
    }
    .mensaje {
        width: 90%;
        background-position: top, bottom;
        background-size: 80%;
        margin-left: 0;
    }
    .botones {
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 8px;
    }
    .boton-encriptar,
    .boton-desencriptar,
    .boton-copiar {
        width: 100%;
        max-width: 368px;
        height: 50px;
        font-size: 1rem;
    }
}

@media(max-width: 640px) {
    .presentacion {
        width: 100%;
        gap: 50px;
        align-items: center;
        justify-content: center;
        margin-left: 0;
    }
    .mensaje {
        background-position: center, bottom;
        background-size: 100%;
        width: 100%;
    }
    .botones {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .boton-encriptar,
    .boton-desencriptar,
    .boton-copiar {
        width: 90%;
        height: 45px;
        font-size: 0.9rem;
    }
}

@media(max-width: 480px) {
    .mensaje {
        background-position: center, bottom;
        background-size: 110%;
        width: 100%;
        margin-left: 0;
    }
    .botones {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .boton-encriptar,
    .boton-desencriptar,
    .boton-copiar {
        width: 90%;
        height: 40px;
        font-size: 0.8rem;
    }
    .text-area, .text-area2 textarea {
        width: 90%;
        margin: 0 auto;
    }
}
